[submodule "external/gbbs"]
	path = external/gbbs
	url = https://github.com/ParAlg/gbbs.git
[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/aggregating-funnels"]
	path = external/aggregating-funnels
	url = https://github.com/Diuven/aggregating-funnels.git
